<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team2.dao.sys.LogsDao">
    <resultMap id="BaseResultMap" type="com.team2.pojo.sys.Logs">
        <id column="id" property="id" jdbcType="INTEGER"/>

    <result column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="module" property="module" jdbcType="VARCHAR"/>
    <result column="flag" property="flag" jdbcType="INTEGER"/>
    <result column="memo" property="memo" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    	id
    	,user_id
    	,module
    	,flag
    	,memo
    	,create_time
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_logs
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delById" parameterType="java.lang.Long">
        delete from sys_logs
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="com.team2.pojo.sys.Logs" keyProperty="id" useGeneratedKeys="true">
        insert into sys_logs ( user_id
        ,module
        ,flag
        ,memo
        )
        values (  #{userId
        ,jdbcType=INTEGER},#{module
        ,jdbcType=VARCHAR},#{flag
        ,jdbcType=INTEGER},#{memo
        ,jdbcType=VARCHAR}}
        )
    </insert>

    <update id="editById" parameterType="com.team2.pojo.sys.Logs">
        update sys_logs set  
        user_id = #{userId,jdbcType=INTEGER} ,
        module = #{module,jdbcType=VARCHAR} ,
        flag = #{flag,jdbcType=INTEGER} ,
        memo = #{memo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="list" resultMap="BaseResultMap" parameterType="com.team2.vo.sys.LogsQuery">
        select
        <include refid="Base_Column_List"/>
        from sys_logs
        <trim prefix="where" prefixOverrides="and|or">
        </trim>
        order by id desc
    </select>

    <select id="pagelist" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from logs limit  #{pageNum},#{pageSize};
    </select>
</mapper>